<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>About</title>
</head>
<body>
    {% include 'nav.html' %}
    
    <div class=" container">
        <h1>About </h1>
        <p>This site can be used to monitor your own network once logged in. </p>
    <p>Aspects that can be monitored include:</p>
    <ul>
        <li>Bandwidth</li>
        <li>Network Health</li>
        <li>Networks</li>
        <li>Speed tests</li>
        <li>Vulnerabilites</li>
        <li>Alerts</li>
    </ul>
   <p>If you wish to contact us, <a href="{{url_for('contact')}}">Click here</a></p>

    </div>
</body>
</html>