<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale-1,0">
    <title>Alerts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% include 'navLoggedin.html' %}  

    <h1>Alerts </h1>
    <div class = "tables">
    <table>
        <tr>
            <th>Time</th>
            <th>Device</th>
            
        </tr>
        <tr>
            <th>21/04/24</th>
            <th>Iphone device joined </th>
        </tr>
    </table>
    
    </div>



</body>
</html> 