<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale-1,0">
    <title>Change Username</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% include 'navLoggedin.html' %}  
<form method="POST">
  
  <div class="container">
    <label for="username"><b>Enter Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" autocomplete="off" required><br>
      <br>

      <div class="email">
      <label for="email"><b>Enter New Username</b></label>
      <input type="email" placeholder="Enter New Username" name="newUsername" id="newUsername" autocomplete="off" required><br>
      </div>
        <br>
       

    <button type="submit">submit</button><br>
  </div>
 
 
</form>

</body>
</html> 