<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    
    <title>Change Password</title>
</head>
<body>
  {% include 'navLoggedin.html' %}

    <h1>Change Password</h1>

<form method="POST">
  
  <div class="container">
    <label for="username"><b>Enter Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" autocomplete="off" required><br>
      <br>
      <label for="password"><b>Enter Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" autocomplete="off" required><br>
        <br>
  
        <input type="checkbox" onclick="showPassword()">Show Password
  
        <script>
        function showPassword() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        </script>
     <br>

    <label for="password"><b>Enter New Password</b></label>
    <input type="password" placeholder="Enter New Password" name="newPassword" id="newPassword" autocomplete="off" required><br>
      <br>

      <input type="checkbox" onclick="showPassword()">Show Password

      <script>
      function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      </script>
    <br>
    <label for="confpassword"><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confpassword" id="confpassword" autocomplete="off" required><br>
        <br>

    <button type="submit">submit</button><br>
  </div>
  </div>

</form>

</body>
</html>