<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Contact</title>
</head>
<body>
    {% include 'nav.html' %}
    
    <div class="container">
            <h2>Please use below to contact us</h2>
            <p><a href="mailto:info@site.ie">Email here</a></p>
            <p>Tel: 018549768</p>
      
    
    </div>
</body>
</html>