<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Contact</title>
</head>
<body>
    {% include 'nav.html' %}

    <br><h1>Please use below to contact us</h1>

    
    <div class="homeContainer">
        <div class = "grid1"><br>
            <p>
                <ul class="contact">
                    <li class="fa fa-calendar"></i>  Active Days: Monday - Friday</li> <br><br>
                    <li class="fa fa-clock-o"></i>  Time: 9:00 - 5:00</li> <br><br>
                    <li class="fa fa-envelope"></i> Email: contactus@gmail.com <a href="mailto:info@site.ie">  click here</a></li><br><br>
                    <li class="fa fa-phone"></i>  Tel: 018549768 </li>
                </ul>
            </p><br>
        </div>
      
    
    </div>
</body>
</html>