<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'nav.html' %}

    <h2>If you are lost, this page will help you to find your way</h2><br>

    <div class="container">

        <div><i class="fa fa-user-plus" style="font-size: 2.5em;"></i>
            <h3>Registration</h3>
            <p>If you don't have an account yet, please <br> <a href="{{ url_for('register') }}">click here</a></p>
        </div>

        <div><i class="fa fa-sign-in" style="font-size: 2.5em;"></i>
            <h3>Login</h3>
            <p>If you have an account, please <br> <a href="{{ url_for('login') }}">click here</a></p>
        </div>

        <div><i class="fa fa-wifi" style="font-size: 2.5em;"></i>
            <h3>network</h3>
            <p>to find and scan your network, please <br> <a href="{{ url_for('networks') }}">click here</a></p>
        </div>
        
        <div><i class="fa fa-tachometer" style="font-size: 2.5em;"></i>
            <h3>Speed Test</h3>
            <p>To see how fast is your network, please <br> <a href="{{ url_for('speedtest') }}">click here</a></p>
        </div>

        <div><i class="fa fa-check" style="font-size: 2.5em;"></i>
            <h3>Devices</h3>
            <p>To check you network health, please <br> <a href="{{ url_for('devices') }}">click here</a></p>
        </div>

        <div><i class="fa fa-user" style="font-size: 2.5em;"></i>
            <h3>About us</h3>
            <p>If you want to read more about us and about each scan, please <br> <a href="{{ url_for('about') }}">click here</a></p>
        </div>

        <div><i class="fa fa-fw fa-envelope" style="font-size: 2.5em;"></i>
            <h3>Contact us</h3>
            <p>If us have any issues or concern about anything, please <br> <a href="{{ url_for('contact') }}">click here</a></p>
        </div>

    </div>
    
</body>
</html>