<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
</body>
</html<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Home</title>
</head>
<body>
    {% include 'nav.html' %}
    
    <div class="container">
        <h1>Welcome</h1>
        <p>To use features please log in to account or register for account.</p>
        <a href="/templates/login.html">Click here to log in</a> <br>
        <a href="/templates/register.html">Click here to register</a>
    </div>
</body>
</html>