<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/style.css">


</head>
<body>
     {% include 'nav.html' %}

    <h1>Admin Login</h1>

<form method="post">
  
  <div class="container1">
    {% if error%}
    <p><strong>{{error}}</strong></p>
    {% endif%}

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required><br>
      <br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required><br>
    
      <i class="fa fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer"></i>
  
      <br>
      <br> 

      <script>
      
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password')

        togglePassword.addEventListener('click', function (e){
          const type = password.getAttribute('type') === 'password' ? 'text' : 'password';

          password.setAttribute('type', type);
          this.classList.toggle('fa-eye-slash');
          this.classList.toggle('fa-eye')
        });

      </script>
    <br><br>

    <button type="submit">Login</button><br>
    </div>
    </form>
</body>
</html>