<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">


</head>
<body>
    {% if 'username' in session }
        <div class="topnav" id="myTopnav">
            <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i>Home</a>
            <a href="{{ url_for('networks') }}"><i class="fa-fw"></i>Networks</a>
            <a href="{{ url_for('networkHealth') }}"><i class="fa-fw"></i>Network Health</a>
            <a href="{{ url_for('speedtest') }}"><i class="fa-fw"></i>Speed test</a>
            <a href="{{ url_for('alerts') }}"><i class="fa-fw"></i>Alerts</a>
            <a href="{{ url_for('settingsHome') }}"><i class="fa-fw"></i>Settings</a>
            <a href="{{url for('logout')}}"><i class="fa-fw"></i>Logout </a>
            <div class="mbotton" id="mbotton">
            <button onclick="modeFunction()"><i class="fa fa-moon-o"></i></button>
            </div>

            <div class="mbotton" id="mbotton">
            <a href="javascript:void(0)" id="theme-toggle"><i class="fa fa-moon-o"></i>Mode</a>
            </div>

    {% else }
    <div class="topnav" id="myTopnav">
        <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="{{ url_for('register') }}"><i class="fa fa-user-plus"></i>Register</a>
        <a href="{{ url_for('login') }}"><i class="fa fa-sign-in"></i>Login</a>
        <a href="{{ url_for('contact') }}"><i class="fa fa-fw fa-envelope"></i>Contact</a>
        <a href="{{ url_for('about') }}"><i class="fa fa-user-o"></i>About us</a>
        <a href="{{ url_for('help') }}"><i class="fa fa-question-circle"></i>Help</a>

        
        <div class="mbotton" id="mbotton">
        <a href="javascript:void(0)" id="theme-toggle"><i class="fa fa-moon-o"></i>Mode</a>
        </div>
    {% endif %}
    <script>


        const themeToggleBtn = document.getElementById('theme-toggle');
        const currentTheme = localStorage.getItem('theme') || 'light-theme';
        document.body.classList.add(currentTheme);

        function toggleTheme(){
            const newTheme = document.body.classList.contains('light-theme') ? 'dark-theme' : 'light-theme';

            document.body.classList.remove('light-theme', 'dark-theme');
            document.body.classList.add(newTheme);

            localStorage.setItem('theme', newTheme);
        }
        themeToggleBtn.addEventListener('click', toggleTheme)

        

    </script>

</body>
</html>