<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale-1,0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% include 'nav.html' %}  
<div class>
    <h1>Settings</h1>
    <ul class = "setting">
        <li><a href="{{ url_for('changeEmail') }}">Change email</a></li>
        <li><a href="{{ url_for('changePassword') }}">Change password</a></li>
        
    </ul>

</div>


</body>
</html> 