<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Speedtest</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% include 'navLoggedin.html' %}



<h1>Real Time Speed Test</h1>
<div class="flexbox">
  <canvas id = 'speedometer'></canvas>
</div>

  <div class="flexchart">
    <div class="flexbox">
      
      <p><strong>Download Speed:</strong> <span id="download">Updating</span></p>
      <p><strong>Upload Speed:</strong> <span id="upload">Updating</span></p>
      <p><strong>Ping:</strong> <span id="ping">Updating</span></p>
     </div>
    
    <button> <a href="javascript:void(0);" 
     id = "turnOff"></a>Stop</button>
     <button> <a href="javascript:void(0);" 
      id="turnOn"></a>Start</button>
 </div>
  </div>
  
  <div class = "flexChart">
  <div class="flexbox">
    <canvas id="myChart"></canvas>
  </div>
  <div class="flexbox">
    <canvas id="chart2"></canvas>
  </div>
  <div class="flexbox">
    <canvas id="chart3"></canvas>
  </div>
  </div>


  <script>
    //for needle 
    const gaugeNeedle = {
      id: 'gaugeNeedle',
      afterDatasetDraw(chart, args, plugins){
        const {ctx,data} = chart;
        ctx.save();
        const needleValue = data.datasets[0].needValue;
        xCenter = chart.getDatasetMeta(0).data[0].x;
        yCenter = chart.getDatasetMeta(0).data[0].y;
        outerRadius = chart.getDatasetMeta(0).data[0].outerRadius;
        angle = Math.PI;
        dataTotal = data.datasets[0].data.reduce((a,b) => a + b,0);
        
        let circumference =((chart.getDatasetMeta(0).data[0].circumference / Math.PI) / data.datasets[0].data[0] ) * needleValue;
        needleValueAngle = circumference + 1.5;
        ctx.translate(xCenter,yCenter);
        ctx.rotate(angle * needleValueAngle);
        //needle
        ctx.beginPath();
        ctx.fillStyle = 'cyan';
        ctx.moveTo(0 - 5,0);
        ctx.lineTo(0,-outerRadius);
        ctx.lineTo(0+ 5 ,0);
        ctx.stroke();
        ctx.fill();
        
        ctx.restore();


      }
      
    };
    //for speedtest shape 
    const config = {
      type:'doughnut',
      data:{
        datasets: [
        {
          label: ['Testing'],
          
          data:[1,1,1],
          circumference: 180,
          rotation: 270,
          cutout:'80%',
          needValue: 2
          

        }],
      },
      options:{
        plugins: {
          legend:{
            display: false
          }
        }
       
      },plugins: [gaugeNeedle]
    };
    //chart for speedometer 
    const speedometer = new Chart(
      document.getElementById('speedometer'),
      config
    );
    var socket = io.connect("http://localhost:5000");
    //download chart
    const ctx = document.getElementById('myChart');
    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels:'Download',
        datasets: [{
        data:[],
        label: 'Download speed(Mbps)',
        
        }
        
      ]
      },
      
      }
    );
    //upload chart 
    const ctx2 = document.getElementById('chart2');
    const chart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels:'Upload',
        datasets: [{
        data:[],
        label: 'Upload speed(Mbps)',
        backgroundColor: 'rgba(255,99,132,0.2)'
        
        }
        
      ]
      },
      
      }
    );
      //ping chart 
    const ctx3 = document.getElementById('chart3');
    const chart3 = new Chart(ctx3, {
      type: 'bar',
      data: {
        labels:'Pinging',
        datasets: [{
        data:[],
        label: 'Ping (ms)',
        backgroundColor: 'rgba(255,159,64,0.2)'
        
        }
        
      ]
      },
      
      }
    );
    
    socket.on('connect',() =>{
        console.log("reconnect");
    });
    socket.on('disconnect',() =>{
      console.log('disconnect');
    });
    
    document.getElementById('turnOn').addEventListener("click",() =>{
      socket.connect();
    });
    document.getElementById('turnOff').addEventListener("click",()=>{
      socket.disconnect();
    });
    socket.on('speedtest_results', function(data) {
      document.getElementById("download").innerText = data.download + " Mbps";
      document.getElementById("upload").innerText = data.upload + " Mbps";
      document.getElementById("ping").innerText = data.ping + " ms";
      
     // data for speedometer
      speedometer.data.datasets[0].data= [data.download, data.upload, data.ping]; // u
      speedometer.update();

      //adds data to charts for upload, download and ping 
      let downloadArray = [];
      downloadArray.push(data.download); 
      chart.data.datasets[0].data.push(downloadArray);
 
      
      let upload = [];
      upload.push(data.upload);
      chart2.data.datasets[0].data.push(upload);

      let ping= [];
      ping.push(data.ping);
      chart3.data.datasets[0].data.push(ping);


      // updates charts every 2 minutes 
      setInterval(chart.update(),1200000);
      setInterval(chart2.update(),1200000);
      setInterval(chart3.update(),1200000);
     
    });


</script>
</body>
</html>
