<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedtest </title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>
<body>
    {% include 'navLoggedin.html' %}

    <div class="flex-container">
        <h1>Real Time Speed Test</h1>
        <div>
            <p><strong>Download Speed:</strong> <span id="download">Updating </span></p>
            <p><strong>Upload Speed:</strong> <span id="upload">Updating </span></p>
            <p><strong>Ping:</strong> <span id="ping">Updating </span></p>
        </div>


        <div><p>testing</p></div>
        <div><p> test 2</p></div>
    </div>

    <script>
        var socket = io.connect("http://localhost:5000");

        socket.on('speedtest_results', function(data) {
            document.getElementById("download").innerText = data.download + " Mbps";
            document.getElementById("upload").innerText = data.upload + " Mbps";
            document.getElementById("ping").innerText = data.ping + " Ms";
        });
    </script>
    <div class="container">
        <canvas id = "myChart"></canvas>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    
</body>
</html>


 
